{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выбор блюд для стола</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Подключаем CSS -->
</head>
<body>
    <div class="container">
        <h1>Стол {{ table }}</h1>
        <h2>Выберите блюда:</h2>
        <form action="{% url 'order-create' %}" method="POST">
            {% csrf_token %}
                <input type="hidden" name="table" value="{{ table.id }}">

            <div class="dishes">
                {% for dish in dishes %}
                <div class="dish">
                    <label>
                        <input type="checkbox" name="dish" value="{{dish.id}}" onclick="updateTotal(300)">
                        {{dish.name}} - {{dish.price}} ₽
                    </label>
                </div>
                {% endfor %}
            </div>
             <h3>Выберите статус</h3>
            <select name="status">
                <option value="padding">Ожидает</option>
                <option value="ready">Готово</option>
                <option value="paid">Оплачен</option>
            </select>

            <div class="total-price">Общая сумма: <span id="total">0</span> ₽</div>
            <button type="submit" class="btn">Сделать заказ</button>
        </form>
    </div>


</body>
</html>
