{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Заказ №{{ order.id }}</title>
    <link rel="stylesheet" href="{% static 'css/order_detail.css' %}">
</head>
<body>
    <div class="container">
        <h1>Детали заказа №{{ order.id }}</h1>
        <div class="order-details">
            <p><strong>Стол:</strong> {{ order.table_number }}</p>
            <p><strong>Блюда:</strong> {{ order.items.all|join:", " }}</p>
            <p><strong>Сумма:</strong> {{ order.total_price }} ₽</p>
            <p><strong>Статус:</strong> {{ order.get_status_display }}</p>
        </div>

        <div class="buttons">
            <a href="{% url 'order-edit-url' order.pk %}" class="btn edit-btn">Редактировать</a>
            <a href="{% url 'orders-url' %}" class="btn back-btn">Назад</a>
        </div>
    </div>
</body>
</html>
